{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "linebreak-style": "off",
    "object-curly-newline": "off",
    "consistent-return": "off",
    "func-names": "off"
  }
}